<div class="card" style="width: 9rem;">
  <%= image_tag car.car_skin.variant(resize_to_limit: [100, 100]), class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= car.title %></h5>
    <p class="card-text"><%= car.description %></p>
    <%= link_to 'Open car', car, class: "btn btn-primary " %>
    <%= link_to 'Show car', car, class: "btn btn-primary skinSelector", data: { filepath: url_for(car.car_skin)} %>
  </div>
</div>